<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.renaldikasumadorih.seafood">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.renaldikasumadorih.seafood.Util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.renaldikasumadorih.seafood.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.renaldikasumadorih.seafood.detail_food"
            android:label="@string/title_activity_detail_food"
            android:parentActivityName="com.renaldikasumadorih.seafood.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.renaldikasumadorih.seafood.pesan_food"
            android:label="@string/title_activity_pesan_food"
            android:parentActivityName="com.renaldikasumadorih.seafood.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.renaldikasumadorih.seafood.Tampil_pesan"
            android:label="@string/title_activity_tampil_pesan"
            android:parentActivityName="com.renaldikasumadorih.seafood.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.renaldikasumadorih.seafood.splash"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>